<h1>Payment Results</h1>
<div>
  <p>APR<br><span class="indent"><%= @apr %></span></p>
  <p>Number of years<br><span class="indent"><%= @years %></span></p>
  <p>Principal<br><span class="indent"><%= @principal %></span></p>
  <p>Payment<br><span class="indent"><%= @payment_format %></span></p>
</div>
<div>
  <a href="/payment/new">Calculate another payment</a>
</div>
