<h1> Random Results </h1>
<div>
</div>
  <p>Minimum<br><span class="indent"><%= @min %></span></p>
  <p>Maximum<br><span class="indent"><%= @max %></span></p>
  <p>Random number<br><span class="indent"><%= @random %></span></p>

<div>
  <a href="/random/new">Pick another random number</a>
</div>
